/* Sticky navbar */
header {
    transition: all 0.3s ease-in-out;
  }
  
  /* Hover effect */
  button:hover, img:hover {
    transition: color 0.2s ease, transform 0.2s ease;
    transform: scale(1.05);
  }
  